.content {
    padding: 30px;
}

.heading {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.parameter {
    margin-top: 6px;
}

.label {
    float: left;
    margin-right: 20px;
}

.add-drugs {
    margin-top: 10px;
}

.field {
    margin-top: 30px;
}

.field p {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    float: left;
}

.field button {
    margin-left: 20px;
    margin-top: 4px;
}